assets/02/bookmarks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bookmarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="website" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>            
              <xs:element name="name" type="xs:string"/>
              <xs:element name="description" type="xs:string"/>
              <xs:element name="url" type="xs:anyURI"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>